#character_buttons {
    justify-content:center;
    display: flex;
    gap: 20px;
}

#button_wrapper {
    display:flex;
    gap:20px;
    justify-content: center;
}

#add_character, #delete_characters, #delete_character {
    color:var(--textcolor);
    border: 0;
    height:30px;
    border-radius: 5px;
    width:50%;
}

#add_character {
    background-color: rgb(126, 201, 13);
}

#delete_characters, #delete_character {
    background-color: rgb(201, 13, 13);
}

#delete_character {
    margin-left: auto;
    margin-bottom: 8px;
    width:20%;
}

#dialog_container {
    position: fixed;
    width:100%;
    top: 0;
    bottom: 0;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    visibility:hidden;
}

#add_character_dialog, #edit_character_dialog {
    margin-inline: auto;
    margin-top: 50px;
    width:80%;
    display:none;
    gap:8px;
    padding:20px;
}

#edit_info_container {
    display:flex;
    flex-flow:wrap;
    width:100%;
    justify-content: space-between;
    gap: 1%;
}

#edit_info_left_segment {
    flex-basis:30%;
    max-width: 30%;
    flex-grow: 0;
    gap: 8px;
}

#stat_container {
    padding-block: 15px;
    background-color: var(--custom-dark-purple);
    justify-content: space-between;
}

#trace_equipment_display {
    display: flex;
    flex-flow: wrap;
    flex-basis: 69%;
    max-width: 69%;
    gap: 5px;
    align-content: flex-start;
}

#detailed_relic_display {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

#trace_edit {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 35px;
    width:100%;
    gap: 3px;
}

#eidolon_display, #minor_trace_container{
    display:flex;
    flex-flow: wrap;
    justify-content: space-between;
}

#level_container {
    display: flex;
    gap: 5px;
    align-items:center;
    height: 35px;
    overflow: visible;
}

#level_container.open {
    background-color: var(--custom-light-purple);
}

h2 {
    text-align: center;
}

.character_list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 5px;
    justify-content: center;
}

.character_card, .mini_card, .equipment_card, .lightcone_card, .eidolon_card, .major_card {
    padding: 10px;
    background-color: var(--custom-dark-purple);
    border-radius: 5px;
    height: 180px;
    width: 330px;
}

.character_card {
    justify-content: space-around;
}

.equipment_card, .eidolon_card, .major_card{
    box-sizing: border-box;
    flex-grow: 0;
    margin-bottom: 5px;
    overflow: auto;
}

.equipment_card {
    max-width: 33%;
    flex-basis: 33%;
}

.eidolon_card {
    max-width: 49%;
    flex-basis: 49%;
}

.major_card{
    width: 100%;
}

.eidolon_card:nth-child(odd) {
    margin-right: 1%;
}

.eidolon_card.off, .major_card.off, .minor_card.off, .major_card.locked, .minor_card.locked {
    background-color: var(--custom-gray-purple);
    color: var(--textcolor-off);
}

.major_card.locked .card_title::after, .minor_card.locked::after{
    content: "🔒";
    margin-left: auto;
    margin-right: 5px;
}

.mini_card {
    height: 120px;
    width: 250px;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.lightcone_card {
    width: 100%;
}

.minor_card {
    display: flex;
    height: 45px;
    width: 49%;
    margin-bottom: 1%;
    background-color: var(--custom-dark-purple);
    align-items: center;
}

.card_title {
    display: flex;
    align-items: center;
    height: 30%;
    background-color: var(--custom-light-purple);

}

.off .card_title {
    display: flex;
    align-items: center;
    height: 30%;
    background-color: var(--custom-dark-purple);

}

.dropdown_container {
    width: 100%;
    height: 100%;
}

.dropdown_button {
    width: 100%;
    height: inherit;
}


.info_container, .card_traces {
    display: flex;
    align-items: center;
    justify-content: left;
    width: inherit;
}

.info_container {
    gap: 10px;
}

.trace_circle {
    margin: auto;
    display: flex;
    background-color: gray;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-inline: 10px;
}

.equipment_display {
    display:flex;
    gap:3px;
    justify-content: space-between;
    align-self: center;
    width: 95%
}

.info_text {
    font-weight:bold;
    font-size:18px;
}

.filter_buttons {
    display:flex;
    justify-content: center;
}


.path_button, .type_button {
    padding: 3px;
    height:30px;
    width:50px;
    border-radius: 0;
    border-right: white solid 1px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.path_button:first-child, .type_button:first-child {
    border-radius: 8px 0 0 8px;
}

.path_button:last-child, .type_button:last-child {
    border-radius: 0 8px 8px 0;
    border-right: 0;
}


.portrait {
    background-color: rgb(51, 51, 51);
    border-radius: 15%;
    align-self: center;
}

.stat_text {
    margin-top: 8px;
    margin-left: 40px;
    font-weight: bold;
}

.flex_col {
    display:flex;
    flex-direction: column;
}

.gap_10 {
    gap:10px;
}

.path_button.on {
    background-color: green;
}

.type_button.on.Lightning {
    background-color: rgb(100, 0, 100);
}

.type_button.on.Ice {
    background-color: rgb(29, 58, 185);
}

.type_button.on.Fire {
    background-color: rgb(160, 0, 0);
}

.type_button.on.Quantum {
    background-color: rgb(32, 1, 146);
}

.type_button.on.Imaginary {
    background-color: rgb(120, 122, 0);
}

.type_button.on.Physical {
    background-color: rgb(107, 107, 107);
}

.type_button.on.Wind {
    background-color: rgb(0, 117, 45);
}

.path_button.off, .type_button.off {
    background-color: var(--button-off);
}

.path_button.on:hover, .type_button.on:hover, .path_button.off:hover, .type_button.off:hover {
    background-color: var(--button-hover);
}

.no_text_wrap_overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 830px) {
    #button_wrapper {
        flex-direction: column;
    }

    #edit_info_container {
        flex-direction: column;
    }

    #edit_info_left_segment {
        flex-basis: 100%;
        max-width: 100%;
        flex-direction: row;
        margin-bottom: 8px;
    }
    
    #stat_container {
        flex-basis: 40%;
        max-width: 50%;
    }

    #trace_container {
        flex-basis: 60%;
    }
    
    .equipment_card {
        flex-basis: 100%;
        max-width: 100%;
    }
    
    #trace_equipment_display {
        flex-basis: 100%;
        max-width: 100%;
    }
}